
<h2>
  <% if @question.blank?%>
    I can't hear you!
    <% else %>
    <%= @question %>
  <% end %>
</h2>

<h1>Coach says:</h1>
<h2><%= @answer %></h2>

<%= link_to "Ask a new question", ask_path %>
